/COPYING.txt
/vendor/
/var/
/setup/
/pub/
/phpserver/
/lib/
/generated/
/dev/
/bin/
/Gruntfile.js.sample
/composer.lock
/.php-cs-fixer.dist.php
/.htaccess.sample
/LICENSE.txt
/grunt-config.json.sample
/nginx.conf.sample
/LICENSE_AFL.txt
/.htaccess
/.editorconfig
/composer.json
/CHANGELOG.md
/.user.ini
/auth.json.sample
/package.json.sample
/SECURITY.md
