<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * acl
 *
 * @copyright Copyright © 2023 Kemana. All rights reserved.
 * @author    psureshvasan@kemana.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Vasan_ExperimentOne::manager" title="Experiment One Manager" translate="title" sortOrder="60">
                    <resource id="Vasan_ExperimentOne::index" title="Experiment One Index" translate="title" sortOrder="61" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>
